Repository eclipse-tm4e/tm4e, pull requests merged in 2024-02, with the labels that each got.

#683 feat: support for langcfg indentation rules
  org.eclipse.tm4e.languageconfiguration.tests/language-configurations/language-configuration.json
  org.eclipse.tm4e.languageconfiguration.tests/src/main/java/org/eclipse/tm4e/languageconfiguration/tests/TestIndentationRules.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/LanguageConfigurationAutoEditStrategy.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/LanguageConfigurationMessages.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/LanguageConfigurationMessages.properties
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/model/CursorConfiguration.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/model/IndentForEnter.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/preferences/PreferenceHelper.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/registry/ILanguageConfigurationDefinition.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/registry/LanguageConfigurationDefinition.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/registry/LanguageConfigurationRegistryManager.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/supports/IndentForEnterHelper.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/supports/IndentRulesSupport.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/utils/TextUtils.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/widgets/LanguageConfigurationPreferencesWidget.java
  org.eclipse.tm4e.languageconfiguration/src/test/java/org/eclipse/tm4e/languageconfiguration/internal/IndentationRulesTest.java
  org.eclipse.tm4e.languageconfiguration/src/test/java/org/eclipse/tm4e/languageconfiguration/internal/utils/MockDocument.java
  org.eclipse.tm4e.languageconfiguration/src/test/java/org/eclipse/tm4e/languageconfiguration/internal/utils/TextUtilsTest.java
Labels: enhancement

#685 fix: theme associations not working anymore
  org.eclipse.tm4e.registry/src/main/java/org/eclipse/tm4e/registry/ITMScope.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/themes/AbstractThemeManager.java
Labels: bug

#688 feat: auto-reload modified CSS themes
  org.eclipse.tm4e.registry/src/main/java/org/eclipse/tm4e/registry/TMResource.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/themes/Theme.java
Labels: enhancement

#689 fix: content type mapping of file extension with dots
  org.eclipse.tm4e.language_pack/plugin.xml
  org.eclipse.tm4e.language_pack/updater/src/main/java/updater/Updater.java
Labels: bug

#691 feat: improve preference UI dialogs
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/LanguageConfigurationMessages.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/LanguageConfigurationMessages.properties
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/preferences/LanguageConfigurationPreferencePage.java
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/wizards/LanguageConfigurationImportWizard.java
  org.eclipse.tm4e.ui.tests/src/main/java/org/eclipse/tm4e/ui/tests/themes/ThemeManagerTest.java
  org.eclipse.tm4e.ui/META-INF/MANIFEST.MF
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/TMUIMessages.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/TMUIMessages.properties
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/menus/ThemeContribution.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/preferences/AbstractPreferencePage.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/preferences/GrammarPreferencePage.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/preferences/PreferenceHelper.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/preferences/TaskTagsPreferencePage.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/preferences/ThemePreferencePage.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/themes/ThemeManager.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/utils/UI.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/widgets/ColumnSelectionAdapter.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/widgets/ColumnViewerComparator.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/widgets/GrammarDefinitionContentProvider.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/widgets/GrammarInfoWidget.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/widgets/TableWidget.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/widgets/TableWithControlsWidget.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/widgets/ThemeContentProvider.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/widgets/VerticalSplitPane.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/wizards/CreateThemeAssociationWizardPage.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/themes/IThemeManager.java
Labels: enhancement

#693 fix: light TM themes don't have light background in Eclipse dark mode
  org.eclipse.tm4e.ui.tests/src/main/java/org/eclipse/tm4e/ui/tests/themes/TMEditorColorTest.java
  org.eclipse.tm4e.ui/META-INF/MANIFEST.MF
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/menus/ThemeContribution.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/preferences/PreferenceConstants.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/themes/AbstractThemeManager.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/themes/ThemeManager.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/utils/PreferenceUtils.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/utils/UI.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/text/TMPresentationReconciler.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/themes/Theme.java
Labels: bug

#694 fix: ColorManager caching not working because RGB misses hashCode/equals
  org.eclipse.tm4e.core/src/main/java/org/eclipse/tm4e/core/theme/RGB.java
Labels: bug

#696 feat: add support for named CSS colors in CSS themes
  org.eclipse.tm4e.core.tests/src/main/java/org/eclipse/tm4e/core/internal/theme/css/CSSParserTest.java
  org.eclipse.tm4e.core/src/main/java/org/eclipse/tm4e/core/internal/theme/css/CSSColors.java
  org.eclipse.tm4e.core/src/main/java/org/eclipse/tm4e/core/internal/theme/css/CSSDocumentHandler.java
Labels: enhancement

#701 feat: register content-type for *.tmTheme files
  org.eclipse.tm4e.language_pack/plugin.xml
Labels: enhancement

#702 fix: allow importing *.plist files via Grammar Import Wizard
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/wizards/SelectGrammarWizardPage.java
Labels: bug

#699 feat: link "text.xml" scope with "org.eclipse.core.runtime.xml" content type
  org.eclipse.tm4e.language_pack/plugin.xml
Labels: enhancement

#704 fix: theme defined editor.lineHighlight color is not applied
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/text/Colorizer.java
Labels: bug

#706 fix: Prevent .txt files being associated with wrong content types
  org.eclipse.tm4e.language_pack/plugin.xml
  org.eclipse.tm4e.language_pack/updater/src/main/java/updater/Updater.java
Labels: bug

#710 fix: langpack icons don't have transparent background #709
  org.eclipse.tm4e.language_pack/syntaxes/git-base/icon.png
  org.eclipse.tm4e.language_pack/syntaxes/git-base/icon@2x.png
  org.eclipse.tm4e.language_pack/syntaxes/markdown-math/icon.png
  org.eclipse.tm4e.language_pack/syntaxes/markdown-math/icon@2x.png
  org.eclipse.tm4e.language_pack/syntaxes/search-result/icon.png
  org.eclipse.tm4e.language_pack/syntaxes/search-result/icon@2x.png
  org.eclipse.tm4e.language_pack/updater/pom.xml
  org.eclipse.tm4e.language_pack/updater/src/main/java/updater/VSCodeSingleExtensionSourceHandler.java
Labels: bug

#712 feat: add icons for java,md,xml,xsl files
  org.eclipse.tm4e.language_pack/README.md
  org.eclipse.tm4e.language_pack/about.html
  org.eclipse.tm4e.language_pack/plugin.xml
  org.eclipse.tm4e.language_pack/syntaxes/java/java.icon.md
  org.eclipse.tm4e.language_pack/syntaxes/java/java.icon.png
  org.eclipse.tm4e.language_pack/syntaxes/java/java.icon.svg
  org.eclipse.tm4e.language_pack/syntaxes/java/java.icon@2x.png
  org.eclipse.tm4e.language_pack/syntaxes/markdown/icon.png
  org.eclipse.tm4e.language_pack/syntaxes/markdown/icon@2x.png
  org.eclipse.tm4e.language_pack/syntaxes/xml/icon.md
  org.eclipse.tm4e.language_pack/syntaxes/xml/icon.png
  org.eclipse.tm4e.language_pack/syntaxes/xml/icon@2x.png
Labels: enhancement

#715 docs: add info about Eclipse compatibility
  README.md
Labels: documentation

#716 fix: default theme cannot be set in plugin customization file #713
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/TMUIPlugin.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/preferences/PreferenceHelper.java
  org.eclipse.tm4e.ui/src/main/java/org/eclipse/tm4e/ui/internal/themes/ThemeManager.java
Labels: bug

#719 fix: OnEnterRules broken for indentOutdent #718
  org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/internal/LanguageConfigurationAutoEditStrategy.java
Labels: bug
